/* CSS script written for champaran coders club


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background-color: #635c5c;
    color: #4e4e4e;
  }
  
h1,
h2,
h3,
h5,
h6 {
    color: #fff;
}

h4 {
    color: #000;
}

/*----------------------------------------------------------------------
# Navbar
----------------------------------------------------------------------*/

.navbar {
    background-color: #000;
    height: 80px;
}

.navbar .ccc {
    color: #fff;
    text-decoration: none;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
}

/*----------------------------------------------------------------------
# Logo
----------------------------------------------------------------------*/

#logo .logo-edit {
    max-width: 250px;
    max-height: 250px;
}

#logo .card-edit {
    margin: 30px;
    border: none;
}

#logo img {
    border: solid #ffffff 10px;
    border-radius: 150px;
}

#title {
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 8px;
}

/*----------------------------------------------------------------------
# Plates
----------------------------------------------------------------------*/

#plates .plate-single {
    background-color: #000000;
    height: 350px;
    border-radius: 20px;
    margin-top: 30px;
}

#plates .plate-logo {
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    border: solid #666666 5px;
    border-radius: 75px;
}

#plates .plate-logo i {
    color: #000000;
    text-align: center;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 8px;
    font-size: 120px;
}

#plates .plate-detail {
    height: 120px;
    width: 250px;
    margin: auto;
    border: solid #666666 5px;
}

#plates .plate-detail h2 {
    margin: auto;
    text-decoration: none;
}

#plates .plate-text {
    margin: auto;
    text-align: center;
}

#plates .plate-text a {
    color: #000;
    font-size: 30px;
    text-decoration: underline;
    font-weight: 750;
}

#plates .plate-text a:hover {
    color: #005fb3;
    transition: ease 0.3s;
}

/*----------------------------------------------------------------------
# Footer
----------------------------------------------------------------------*/

#footer {
    background-color: #000;
    margin-top: 80px;
    height: 300px;
}

#footer .social-card {
    height: 200px;
    margin-top: 50px;
    border-radius: 20px;
}

#footer .social-text {
    margin: auto;
    margin-top: 15px;
}

#footer .social-text h2 {
    color: #000;
    text-decoration: underline;
    font-weight: 750;
}

#footer .social-icons a {
    color: #000;
    font-size: 40px;
    border: dotted #606060;
    border-radius: 50px;
    margin: auto;
    margin-right: 20px; 
    padding: 5px;
}

#footer .social-icons a:hover {
    border: double #606060;
    color: #005fb3;
}

#footer p {
    color: #fff;
    font-weight: lighter;
    opacity: 80%;
    max-width: 420px;
}

/*--------------------------------------------------------------
# Problem
--------------------------------------------------------------*/
.problem .problem-list {
  padding: 0 100px;
}
  
.problem .problem-list ul {
  padding: 0;
  list-style: none;
}
  
.problem .problem-list li + li {
  margin-top: 15px;
}
  
.problem .problem-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}
  
.problem .problem-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
  
.problem .problem-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #50eb5d;
}
  
.problem .problem-list .icon-show, .problem .problem-list .icon-close {    font-size: 28px;
  font-weight: 1000;
  position: absolute;
  right: 0;
  top: 0;
  margin: auto;
  margin-left: 20px;
}
  
.problem .problem-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
  
.problem .problem-list .icon-show {
  display: none;
}
  
.problem .problem-list a.collapsed {
  color: #343a40;
}
  
.problem .problem-list a.collapsed:hover {
  color: #07b323;
}
  
.problem .problem-list a.collapsed .icon-show {
  display: inline-block;
}
  
.problem .problem-list a.collapsed .icon-close {
    display: none;
}
  
@media (max-width: 1200px) {
  .problem .problem-list {
    padding: 0;
  }
}

#problem .question {
  background-color: rgb(255, 185, 160);
  border-radius: 20px;
  height: 50px;
  text-align: center;
}

#problem .question a {
  margin: auto;
  font: 50px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

#problem h2 {
  color: #fff;
  text-decoration: underline;
  margin: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#problem .gb-solution {
  background-color: #000;
  margin: auto;
  margin-top: 20px; border:
  solid gray 5px;
}


.gb-solution p {
  color: white;
  margin-top: 30px;
  font-family: monospace;
}

#problem .invi {
  background-color: white;
  height: 0px;
  width: 200px;
  margin: auto;
  border: none;
}

#problem .text {
  margin-left: 10px;
  margin-top: 10px;
}